.landing-page {
  background-image: linear-gradient(
      180deg,
      rgba(1, 59, 150, 0.75),
      rgba(1, 156, 166, 0.75)
    ),
    url("../../assets/bwh-hale-building.jpg");
}

.text-fade-in {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
