.serviceCard {
  transform: scale(0);
  animation: abracadabra 0.15s forwards;
}

.medicalDelivery {
  animation-delay: 0.15s;
}

.giftDelivery {
  animation-delay: 0.3s;
}
.sanitationRequest {
  animation-delay: 0.45s;
}

.reserveRoom {
  animation-delay: 0.6s;
}
.securityRequest {
  animation-delay: 0.75s;
}
@keyframes abracadabra {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
