@import "../../animations/abracadabra.css";
@import "../../animations/white-underline.css";

.hero-hospital-image {
  background-image: linear-gradient(
      180deg,
      rgba(0, 41, 76, 0.75),
      rgba(0, 41, 76, 0.75)
    ),
    url("../../../assets/bwh-exterior-default.png");
  background-size: cover;
}

.hero-map-image {
  background-image: linear-gradient(
      180deg,
      rgba(38, 71, 107, 0.8),
      rgba(38, 71, 107, 0.8)
    ),
    url("../../../assets/maps/no_locations/02_thesecondfloor.png");
  background-size: cover;
  background-position: top 10% left 50%;
  transition: width 1.5s;
}

.hero-map-image:hover {
  width: 80%;
}

.hook {
  animation-delay: 1s;
}
