@import "../../animations/tada.css";
.medical-device-delivery {
  animation-delay: 0.15s;
}

.room-reservation {
  animation-delay: 0.3s;
}

.gift-delivery {
  animation-delay: 0.45s;
}

.sanitation-request {
  animation-delay: 0.6s;
}

.security-request {
  animation-delay: 0.75s;
}

.food-delivery {
  animation-delay: 0.9s;
}

.it_support {
  animation-delay: 1.05s;
}
