@import "../../animations/tada.css";
.medical-device-delivery {
  animation-delay: 0.2s;
}

.room-reservation {
  animation-delay: 0.4s;
}

.sanitation-request {
  animation-delay: 0.6s;
}

.security-request {
  animation-delay: 0.8s;
}

.gift-delivery {
  animation-delay: 1s;
}
