.pulseAnimation {
  animation: mapButtonPulse 1.5s infinite;
}

@keyframes mapButtonPulse {
  0% {
    background-color: rgba(246, 189, 57, 0.4);
  }
  50% {
    background-color: rgba(246, 189, 57, 0.8);
  }
  100% {
    background-color: rgba(247, 189, 57, 0.4);
  }
}
